<h1 class="text-center">A quick reference</h1>
<ul>
    <li>The link <a href="http://localhost:8000/employees">http://localhost:8000/employees</a> returns a JSON response that contains the info of <b>ALL</b> employees in employees table.</li>
    <li>The link <a href="http://localhost:8000/employees/firstname/SOMETHING">http://localhost:8000/employees/firstname/<b>SOMETHING</b></a> returns a JSON response that contains the info of all employees whose firstnames starts with <b>SOMETHING</b>.</li>
    <li>The link <a href="http://localhost:8000/employees/limit/NUMBER">http://localhost:8000/employees/limit/<b>NUMBER</b></a> returns a JSON response that contains the info of the first <b>NUMBER</b> employees.</li>
    <li>The link <a href="http://localhost:8000/employees/firstname/SOMETHING/limit/NUMBER">http://localhost:8000/employees/firstname/<b>SOMETHING</b>/limit/<b>NUMBER</b></a> returns a JSON response that contains the info of the first <b>NUMBER</b> employees whose firstnames starts with <b>SOMETHING</b>.</li>
</ul>